* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f2f2f2;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3a3a3a;
}

.logo img {
    background-color: red;
    height: 10%;
    width: 10%;
}

.top-nav {
    background-color: green;
    height: 100px;
    width: 70%;
}

.main-body {
    background-color: orange;
    height: 100px;
    width: 50%;
}

.hp_intro {
    background-color: blue;
    height: 100px;
    width: 50%;
}